
body{
  margin: 0;
  padding: 0;
}
.tela-inicial{
  width:100%;
  height:100vh;
  background: mediumpurple;
  text-align: center;
}
.logo {
  width: 80%;
  margin-top: 100px;
}

.iniciar {
  background: darkorange;
  font-size: 50px;
  border: 2px solid darkblue;
  margin-top: 120px;
  color: black;
  padding: 10px 20px 10px 20px;
}

.tela-pergunta {
  width: 100%;
  height: 100vh;
  background: mediumpurple;
  text-align: center;
}
.cerebro{
 width: 50%;
 margin-top: 20px;
 margin-bottom: 20px;
 
}
.pergunta {
 background: white;
 width: 70%;
 font-size: 30PX;
 padding: 30PX 20PX 30PX 20PX;
 margin: 0 auto;
}

.botao-responder{
  background: white;
  padding: 10px 30px 10px 30px;
  font-size: 50x;
  border: none;
  margin-top: 20px;
}

.botao-responder:active{
  background: lightgray;
}

.tela-acertou{
  width:100%;
  height: 100vh;
  background: mediumpurple;
}

.acertou{
  width: 80%;
  margin-top: 20%;
}

.tela-errou{
  width: 100%;
  height:100vh;
  background: mediumpurple;
  text-align: center;
}
.errou{
  width:80%;
  margin-top: 20%;
  
}